<h1>Hello Angular {{ data }}</h1>
<h2>{{ getVal() }}</h2>
<h3>{{ 2 + 3 + 4 + 6 }}</h3>
<h2>{{ num == 1000 }}</h2>
<h1 class="{{ data }}">{{ num == 50 }}</h1>
<h1 class="{{ data }}">{{ num == 50 }}</h1>

<!-- error  nuk mund ti paraqes
<h1>{{num=50}}</h1>
<h1>{{ typeof = num=50}}</h1>
<h1>{{ new num=50}}</h1>
<h1>{{num++}}</h1>

-->
<app-header></app-header>
<app-header></app-header>

<app-header></app-header>
<app-user-list></app-user-list>
<app-user1-list></app-user1-list>
<app-student-list></app-student-list>
<app-country></app-country>
<app-login></app-login>

<h1>Function in Anglar</h1>
<button (click)="getName('lace')">Click me</button>
<button (click)="getName(100)">Click me for number</button>
<h1 style="background: red" class="heading">{{ title }}</h1>
<button (click)="getData('button click')">Click me</button>
<br />
<br />
<input
  type="text"
  #box1
  placeholder="keyup box"
  (keyup)="getData(box1.value)"
/>
<br />
<br />
<input
  type="text"
  #box2
  placeholder="keydown box"
  (keyup)="getData(box2.value)"
/>
<br />
<br />
<input type="text" #box3 placeholder="blur box" (blur)="getData(box3.value)" />
<br />
<br />
<input
  type="text"
  #box4
  placeholder="input box"
  (input)="getData(box4.value)"
/>
<h1 mouseover="getData('mouse over')">Code stepbe step</h1>
<h1 mouseleave="getData('mouse leave')">LAce</h1>
<!-- <h1>{{ title1 }}</h1>
<input
  type="test"
  #box5
  (keyup)="getValue(box5.value)"
  placeholder="Enter name"
  name="userName"
/>
<button (click)="getValue(box5.value)">Click me</button>
<h2 Box Val is : {{displayVal}}></h2> -->
<button (click)="counter('minus')">--</button>
<p>Counter{{ count }} :</p>
<button (click)="counter('add')">++</button>
<style>
  .heading {
    color: blue;
  }
</style>
<br />
<br />
<input type="test2" value="{{ name }}" />
<br />
<br />
<input type="test2" [value]="name" />

<h1>{{ title6 }}</h1>
<!-- <h1 *ngIf="show; else elseBlock">Code Step By Step</h1> -->
<h1 *ngIf="show === 'yes'; then ifBlock; else elseBlock">Code Step By Step</h1>
<ng-template #ifBlock>
  <h1>If Condition</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>Else Condition</h1>
</ng-template>

<h2>{{ title7 }}</h2>
<ng-template [ngIf]="color === 'red'">
  <h2 style="color: red">Red Color</h2>
</ng-template>
<ng-template [ngIf]="color === 'green'">
  <h2 style="color: green">green Color</h2>
</ng-template>
<ng-template [ngIf]="color === 'blue'">
  <h2 style="color: blue">blue Color</h2>
</ng-template>
<h1>{{ title8 }}</h1>
<ng-template [ngIf]="color === 'green'">
  <h1 style="color: green">green color</h1>
</ng-template>
<ng-template [ngIf]="color === 'red'">
  <h1 style="color: red">red color</h1>
</ng-template>
<ng-template [ngIf]="color === 'blue'">
  <h1 style="color: blue">blue color</h1>
</ng-template>
<h1>{{ title9 }}</h1>
<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red">Red Color</h1>
  <h1 *ngSwitchCase="'green'" style="color: green">Green Color</h1>
  <h1 *ngSwitchCase="'blue'" style="color: blue">blue Color</h1>
  <h1 *ngSwitchCase="'orange'" style="color: orange">Red Color</h1>
  <h1 *ngSwitchDefault>Unknown color</h1>
</div>
<h1>{{ title10 }}</h1>
<h3 *ngFor="let item of users">Name is: {{ item }}</h3>
<h3 *ngFor="let item of userDetails">
  Detail is: {{ item.name }}---{{ item.email }}----{{ item.phone }}
</h3>
<h1>{{ title11 }}</h1>
<ul *ngFor="let user of users1">
  <li>{{ user.name }}</li>
  <li>{{ user.email }}</li>
  <li>{{ user.phone }}</li>

  <ul *ngFor="let account of user.accounts">
    <li>{{ account }}</li>
  </ul>
</ul>
<h1>{{ title12 }}</h1>
