<h1>Hello Angular {{ data }}</h1>
<h2>{{ getVal() }}</h2>
<h3>{{ 2 + 3 + 4 + 6 }}</h3>
<h2>{{ num == 1000 }}</h2>
<h1 class="{{ data }}">{{ num == 50 }}</h1>
<h1 class="{{ data }}">{{ num == 50 }}</h1>

<!-- error  nuk mund ti paraqes
<h1>{{num=50}}</h1>
<h1>{{ typeof = num=50}}</h1>
<h1>{{ new num=50}}</h1>
<h1>{{num++}}</h1>

-->
<app-header></app-header>
<app-header></app-header>

<app-header></app-header>
<app-user-list></app-user-list>
<app-user1-list></app-user1-list>
<app-student-list></app-student-list>
